ul,
#first-item,
button {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

ul {
  width: 300px;
  height: 67px;
  border: 1px solid #6eeb83;
  background: #272727;
  position: fixed;
  z-index: 2;
  bottom: 0px;
  margin: 0 auto;
  left: 50%;
  transform: translateX(-50%);
  font-size: 20px;
}

#first-item,
.action-btn {
  gap: 10px;
}

#initial {
  width: 40px;
  height: 40px;
  background-color: var(--lemon);
  border-radius: 50%;
  color: var(--black);
}

.hide {
  display: none;
}

@media screen and (min-width: 600px) {
  ul {
    width: 80%;
  }

  .hide {
    display: block;
  }
}

@media screen and (min-width: 991px) {
  ul,
  #first-item,
  button {
    flex-direction: column;
  }

  ul {
    width: 95px;
    height: 100%;
    border: 0;
    border-right: 1px solid #6eeb83;
    left: 45px;
  }

  #initial {
    width: 66px;
    height: 66px;
    font-size: 32px;
  }

  .hide-2 {
    display: none;
  }
}
