.single-post {
  max-width: 80%;
  margin: 20px auto;
  /* padding: ; */
}

h4 {
  color: var(--lemon);
  font-size: 32px;
  margin-bottom: 10px;
}

p,
small {
  color: #a5a5a5;
}

.post-body {
  font-size: 14px;
  margin-top: 10px;
  line-height: 2;
  text-align: justify;
}

/* .post-body:first-child:first-letter{
    float:left;
    font-size:400%;
    margin-top:7px;
    margin-right:5px;
    color:#992E00;
    } */

@media screen and (min-width: 991px) {
  .single-post {
    max-width: 70%;
  }

  .post-body {
    font-size: 18px;
    line-height: 2.3;
  }
}
