<div class="posts-container">
  <h2>All blog Posts</h2>

  <div class="search-bar">
    <input
      type="search"
      name="search post by title"
      id="search"
      placeholder="Enter a post title"
    />
  </div>

  <div class="post-preview">
    <h4>15 Disadvantages Of Freedom And How You Can Workaround It.</h4>
    <p class="post-description">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
      veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
      commodo consequat. Duis aute irure d<span class="read-more"
        >...read more</span
      >
    </p>
    <div class="author-info">
      <p class="post-date">27 May 2022</p>
      <p class="author-name">&#64;jaybee990</p>
    </div>
    <div class="tags">
      <button>Delete post</button><button>Edit post</button>
      <button>#marketing</button><button>#reading</button>
    </div>
  </div>
</div>
